<h1>Hi {{name}}</h1>
<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Name</th>
      <th scope="col">Last name</th>
      {{#if (eq rol 'teacher')}}
      <th scope="col">Attendance</th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
    {{#if (eq rol 'teacher')}}
    {{#each listStudents}}
    <tr>
      <th scope="row">{{@index}}</th>
      <th>{{this.name}}</th>
      <th>{{this.last_name}}</th>
      <th><button class="btn btn-primary">Attendance</button></th>
    </tr>
    {{/each}}
    {{else}}
    {{#each listStudents}}
    <tr>
      <th scope="row">{{@index}}</th>
      <th>{{this.name}}</th>
      <th>{{this.last_name}}</th>
    </tr>
    {{/each}}
    {{/if}}
  </tbody>
</table>
<a class="btn btn-danger" href="/students/create">Add Student</a>
